/*-- scss:defaults --*/
$h2-font-size:          1.6rem !default;
$headings-font-weight:  500 !default;

/*-- scss:rules --*/
h1, h2, h3, h4, h5, h6 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
  color: $navbar-bg;
}

h1.title {
  font-size: $h1-font-size*1.3;
  font-weight: $headings-font-weight*2;
}

.navbar-title {
  font-size: $h2-font-size;
  font-weight: $headings-font-weight;
}

.alert {
  margin: 10px;
}

.navbar-logo {
  max-height: 50px;
}

.rounded-corners {
  border-radius: 25px;
}

.thumbnail-image {
  border-radius: 10px;
}

figcaption {
  text-align: center;
  font-style: italic;
}

.quarto-title-meta {
  color: $navbar-bg;
}

.quarto-title-meta-heading {
  font-weight: bold !important;
}

.quarto-title-meta-contents {
  font-style: italic;
}